<p>
  <%= content_tag(:label, l(:label_enabled))%>
  <%= check_box_tag "settings[enabled]", true, @settings["enabled"] == "true" %>
</p>

<p>
  <%= content_tag(:label, l(:label_env_variable_name)) %>
  <%= text_field_tag "settings[env_variable_name]", @settings["env_variable_name"] %><br/>
  <%= l(:label_default)%>: REMOTE_USER
</p>

<p>
  <%= content_tag(:label, l(:label_remove_suffix)) %>
  <%= text_field_tag "settings[remove_suffix]", @settings["remove_suffix"] %><br/>
  <%= l(:label_remove_suffix_help)%>
</p>

<p>
  <%= content_tag(:label, l(:label_redmine_user_property))%>
  <%= radio_button_tag "settings[redmine_user_property]", "login", @settings["redmine_user_property"] == "login" %>
  <%= l(:label_login_name)%><br/>
  <%= radio_button_tag "settings[redmine_user_property]", "mail", @settings["redmine_user_property"] == "mail" %>
  <%= l(:label_email_address)%>
</p>

<p>
  <%= content_tag(:label, l(:label_allow_other_login))%>
  <%= radio_button_tag "settings[allow_other_login]", "admins", @settings["allow_other_login"] == "admins" %>
  <%= l(:label_allow_other_login_admins)%><br/>
  <%= radio_button_tag "settings[allow_other_login]", "all", @settings["allow_other_login"] == "all" %>
  <%= l(:label_allow_other_login_all)%><br/>
  <%= radio_button_tag "settings[allow_other_login]", "users", @settings["allow_other_login"] == "users" %>
  <%= l(:label_allow_other_login_users)%><br/>
  <%= text_field_tag "settings[allow_other_login_users]", @settings["allow_other_login_users"] %><br/>
  <%= radio_button_tag "settings[allow_other_login]", "none", @settings["allow_other_login"] == "none" %>
  <%= l(:label_allow_other_login_none)%><br/>
</p>

<p>
  <%= content_tag(:label, l(:label_ldap_checked_auto_registration))%>
  <%= check_box_tag "settings[ldap_checked_auto_registration]", true, @settings["ldap_checked_auto_registration"] == "true" %>
</p>
